HelloAndroid/.classpath
HelloAndroid/.project
HelloAndroid/.project.properties
HelloAndroid/assets
HelloAndroid/bin
HelloAndroid/gen
HelloAndroidTest/.project
HelloAndroidTest/.project.properties
HelloAndroidTest/assets
HelloAndroidTest/bin
HelloAndroidTest/gen

